.App {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; */
}

background-div {
  width: 100%;
  height: 100%;
  background-color: lightblue;
}

.overlay-div {
  position: absolute; 
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  top: 0;
  left: 0;
  height: 6;
  width: 800px;
  height: 600px;
}
